<header class = "jumbotron">
  <div class="navbar">
  <h1 class="text-left">Cake Blog</h1>
  <ul class="nav nav-pills navbar-right">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="http://localhost:4200/about">About</a></li>
    <li role="presentation"><a href="http://localhost:4200/contact">Contact Us</a></li>
  </ul>
</div>
</header>


<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  <p class="text-center">
    Copyright © 2015
  </p>
</footer>
