<p>Cake Blog features cakes around the world. We can help you choose a cake and design.</p>

<p>Contact us today:</p>

<p>
  Cake Blog<br>
  PO Box 1230<br>
  Portland, OR 97233
</p>

<p>(503)555-5555</p>

<p>cakeblogrep@cakeblog.com</p>

{{#link-to 'about'}}About{{/link-to}}
