

<h1> Welcome to Cake Blog </h1>

We hope you find exactly what you're looking for in a cake.
<br>
<br>
<br>
<div class="row">
  {{#each model as |cake|}}
    <div class="col-md-4">
      {{cake-page cake=cake updateCake="updateCake" destroyCake="destroyCake"}}
    </div>
  {{/each}}
</div>
<br>


  {{new-cake save2="save3"}}

<!-- {{#link-to 'about'}}About{{/link-to}}<br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}} -->
