<h1> Welcome to Cake Blog </h1>

We hope you find exactly what you're looking for in a cake.


  {{#each model as |cake|}}
    {{cake-page cake=cake destroyCake="destroyCake"}}
  {{/each}}

  {{new-cake save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
